@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    text-align: left;
    font-family: MyriadProRegular;
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;

}

.wrapper {

}

.rambajs {
    color: black;
    text-decoration: none;
    font-size: 80px;
}

.color-turquoise {
    color: #4BCAFF;
}

.functional-programming-menu {
    display: inline-block;
    width: 93%;
    background: #35444F;
    text-align: center;
    padding: 20px 44px;
    font-size: 0px;
}

.menu-heder {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 20px 44px;
}

.menu-heder:hover {
    background: #222F3A;
}

.content {
    border: 1px solid black;
    width: 344px;
    height: 345px;
    margin-top: 35px;
    float: left;
}

.navbar {
    list-style-type: none;
    font-size: 27px;
    padding-inline-start: 0;
    margin: 0px;
}

.menu-left {
    padding: 18px;
}

.menu-lefta {
    margin: 50px;
    color: black;
    text-decoration: none;

}

.menu-left:hover {
    background: #dbdbdb;
    font-weight: bold;
    padding-left: 35px;

}

.main {
    height: 527px;
    width: 884px;
    box-sizing: content-box;
    float: right;
    border: 1px solid black;
    margin-top: 35px;
}

.main-content {

    background-image: url("https://www.brandeps.com/logo-download/R/Ramda-01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;


    height: 527px;
    width: 884px;
    box-sizing: content-box;

    float: right;

}

.main-content:hover {
    transform: scale(1.1);
    transition: all 1s ease-out;

}

.main-text {
    float: right;
    padding-left: 400px;
    padding-right: 40px;
    margin-top: 40px;
    font-size: 18px;
    float: left;
}

.footer {
    display: inline-block;
    width: 93%;
    background: #B4B7B9;
    padding: 20px 44px;
    float: left;
}

.cap {
    color: black;
    text-decoration: none;
    margin: 0 14px;
    font-size: 28px;
}

.cap:hover {
    color: #3181A6;
    text-decoration: underline;

}

.copy {

    float: right;
    font-size: 24px;
}

.clear-both {
    clear: both;
}

@media (orientation: landscape) and (max-width: 500px) {
}